/*
Author: Andrzej Kocielski
Description: Hangman Game - based on Pasja Informatyki tutorial: https://youtu.be/9FVtiJHFCSU
*/

body
{
	background-color: #202020; 
	font-family: Verdana;
	color: lightsteelblue;
}
