/*
Author: Andrzej Kocielski
Description: Hangman Game - based on Pasja Informatyki tutorial: https://youtu.be/9FVtiJHFCSU
*/

body {
	background-color: #000000; 
	font-family: Verdana;
	color: lightsteelblue;
}

#container {
	width: 900px;
	margin-left: auto;
	margin-right: auto;
}

#title {
	font-size: 22px;
	text-align: center;
	color: dimgray;
}

#gameBoard {
	width: 900px;
	margin-top: 50px;
	margin-bottom: 50px;
	font-size: 42px;
	text-align: center;
	min-height: 60px;
}

#scaffold {
	float: left;
	width: 450px;
	text-align: center;
	min-height: 280px;
}

#alphabet {
	float: left;
	width: 450px;
	text-align: center;
	min-height: 280px;
}

.letter {
	font-size: 28px;
	width: 34px;
	height: 36px;
	text-align: center;
	padding: 5px;
	margin: 5px;
	border: 3px solid gray;
	float: left;
	cursor: pointer;
	border-radius: 15px;
}