/*
Title: Web Application Development - Project, GMIT 2020
Author: Andrzej Kocielski, G00376291@gmit.ie

Adopted from: https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_login_form_modal 
*/



/* Centre the form */
.loginbox {
  padding: 16px;
}

.hint {
  background-color: #345;
	font-size: 12px;
	padding: 5px 18px;
}


/* The Modal (background) */
.modal {
  display: block;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  padding-top: 40px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #333;
  margin: 100px auto 15% auto; /* 100px from the top, 15% from the bottom and centered */
  border: 2px solid #777;
  width:  50%; /* Could be more or less, depending on screen size */  
  max-width: 400px;
  min-width: 200px;
}

/* Full-width input fields */
input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Add Zoom Animation */
.animate {
  animation: animatezoom 0.4s
}

@keyframes animatezoom {
  from {transform: scale(.5)} 
  to {transform: scale(1)}
}


/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
}