/*
Title: Web Application Development - Project, GMIT 2020
Author: Andrzej Kocielski, G00376291@gmit.ie
*/

/* --- --- --- */

/* Colour scheme */
for_reference_only
{
	background-color: #124; /* 1st background - website */ 
	background-color: #334; /* 2nd background - main section*/
	background-color: #345; /* 3rd background - fields */
	background-color: #3ad; /* menu bar background, buttons background */
	
	color: #eee; /* 1st text colour - main text */
	color: #bbd; /* 2nd text colour */
	color: #fff; /* menu bar text */
	
	color: #1df; /* 1st headline colour, website title */
	color: #9df; /* 2nd headline colour */
	
	color: #fd7; /* 1st highlight colour */
	color: #cfd; /* 2nd highlight colour */
}


/* --- --- --- */

body
{
	margin: 0;
	padding: 0px 60px;
	background-color: #124;
	color: #eee;
	font-family: 'Open Sans', sans-serif;
	font-size: 17px;
	
}

/* Web site title */
h1.logo
{
	font-size: 44px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 5px;
	margin-top: 50px;
	margin-bottom: 40px;
}


/* --- --- --- */
/* Login page; adopted from: https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_login_form_modal */

/* Set a style for all buttons */
button {
	background-color: #3ad;
	color: #eee;
	font-weight: 700;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
	width: 100%;
	border-radius: 0px;
}

button:hover {
	opacity: 0.8;
}

#reset {
	background-color: #a32;
}


/* Centre the form */
.loginbox {
  padding: 16px;
}

.hint {
	background-color: #345;
	font-size: 12px;
	padding: 5px 18px;
}


/* The Modal (login box) */
.modal {
  display: block;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  padding-top: 40px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #334;
  margin: 100px auto 10px auto; /* 100px from the top, 10px from the bottom and centered */
  border: 2px solid #777;
  width:  50%;   
  max-width: 400px;
  min-width: 200px;
}

/* Full-width input fields */
input[type=text], input[type=email], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  box-sizing: border-box;
}

/* Add Zoom Animation */
.animate {
  animation: animatezoom 0.4s
}

@keyframes animatezoom {
  from {transform: scale(.5)} 
  to {transform: scale(1)}
}



/* --- --- --- */

/* Navigation Bar */
#topnav
{
	background-color: #3ad;
	text-align: center;
}

/* Each element of the menu (class) */
.menu
{
	list-style-type: none;
	margin: 0;
	padding: 10px;
	font-size: 18px;
	min-height: 38px;
	line-height: 200%;
}

.menu > li
{
	display: inline-block;
	padding-left: 20px;
	padding-right: 20px;
	border-right: 1px dashed #345;
}

/* Add left border to the first menu element */
.menu > li:first-child
{
	border-left: 1px dashed #345;
}

.menu a
{
	color: #fff;
	text-decoration: none;
}

.menu a:hover
{
	color: #fd7;
}

/* --- --- --- */

/* This container hold a brief description of the website  */
.leadin
{
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	padding: 0;
}

h1
{
	font-size: 32px;
	font-weight: 400;
	color: #1df;
	margin-bottom: 20px;
	text-align: center;
}

/* This section holds a short description of the main website content */
.mainsection
{
	background-color: #334;
}

/* Collection of the main website content elements */
.entries
{
	margin-left: auto;
	margin-right: auto;
	width: 950px;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 80px;
	margin-top: 40px;
}

/* Different background to visualy separate entries */
.entry
{
	background-color: #345;
	padding: 10px;
	text-align: justify;
	margin-top: 40px;
}

.entryimg
{
	display: inline-block;
	margin-left: 30px;
	width: 110px;
}

/* Limit the size of the images and add visual isolation */
.entryimg img
{
	width: 90px;
	height: 90px;
	padding: 10px;
}

.entrytxt
{
	display: inline-block;
	width: 750px;
	font-size: 15px;
}

h2
{
	font-size: 20px;
	font-weight: 400;
	color: #9df;
}


/* --- --- --- */ 

#forms
{
	margin-left: auto;
	margin-right: auto;
	width: 950px;
	padding-top: 10px;
	padding-bottom: 80px;
	margin-top: 40px;
}

#forms p
{
	text-align: center;
}

.row
{
	margin: 20px 0 30px;
}

.col
{
	display: inline-block;
	margin: 0 10px;
}

legend
{
	padding: 10px;
}

/* Form sent confirmation message */
#confirmation
{
	margin-left: auto;
	margin-right: auto;
	width: 950px;
	text-align: center;
	padding: 0;
}


/* --- --- --- */
/* Data visualisation */

#mydiv {
	height: 400px;
	width: 800px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 40px;
	text-align: center;
	padding: 10px 10px 30px;
	border: 1px dotted gray;
}

rect:hover {
	fill: rgb(98, 214, 250);
}


/* --- --- --- */ 

/* Links to social media accounts */
.socials
{
	width:100%;
	text-align: center;
	background-color: #334;
	margin: 20px 0;
	padding: 20px 0;
}

.socialdivs
{
	width: 948px;
	margin-left: auto;
	margin-right: auto;
	color: #bbd;
}

.fb
{
	width: 236px;
	height: 22px;
	float: left;
}

.fb:hover
{
	background-color: #4668b3;
}

.yt
{
	width: 236px;
	height: 22px;
	float: left;
}

.yt:hover
{
	background-color: #d94348;
}

.tw
{
	width: 236px;
	height: 22px;
	float: left;
}

.tw:hover
{
	background-color: #3095d3;
}

.gplus
{
	width: 236px;
	height: 22px;
	float: left;
}

.gplus:hover
{
	background-color: #d95333;
}

/* --- --- --- */

/* Author, copyright, thanks etc */
.info
{
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	padding: 20px;
	color: #bbd;
	font-size: 10px;
	z-index: 0
}
