/*
Title: Web Application Development - Project, GMIT 2020
Author: Andrzej Kocielski, G00376291@gmit.ie
*/

/* ### ### ### */

/* Colour scheme */
for_reference_only /* Non existing element, but left outsit comment because my editor shows the colour preview beside the colour code  */
{
	background-color: #124; /* 1st background - website */ 
	background-color: #334; /* 2nd background - main section*/
	background-color: #234; /* 3rd background - fields */
	background-color: #05a; /* menu bar background*/
	background-color: #3ad; /* buttons background */
	
	color: #eee; /* 1st text colour - main text */
	color: #bbd; /* 2nd text colour */
	color: #fff; /* menu bar text */
	
	color: #1df; /* 1st headline colour, section title */
	color: #9df; /* 2nd headline colour */
	
	color: #f80; /* 1st highlight colour, logo text */
	color: #fd7; /* 2nd highlight colour */
	color: #cfd; /* 3rd highlight colour */
}

/* ### ### ### */

/* Used with 'Go to top' button - see below*/
html {
  scroll-behavior: smooth;
}

body
{
	margin: 0 !important;
	padding: 0px 0px;
	background-color: #124;
	color: #eee;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	
}

/* Web site title */
h1.logo
{
	color: #f80;
	font-size: 44px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 5px;
	margin-top: 50px;
	margin-bottom: 40px;
}

/* ### ### ### */

/* Navigation Bar */
#topnav
{
	background-color: #05a;
	text-align: center;
}

/* Each element of the menu (class) */
.menu
{
	list-style-type: none;
	width: 100%;
	margin: 0;
	padding: 5px;
	font-size: 18px;
	min-height: 38px;
	line-height: 200%;
}

.menu > li
{
	display: inline-block;
	border-right: 2px dashed #124;
}

/* Add left border to the first menu element */
.menu > li:first-child
{
	border-left: 2px dashed #124;
	padding-left: 5px;
}

.menu a
{
	color: #fd7;
	text-decoration: none;
	display: block;
	padding: 10px 15px;
	margin-right: 5px;
}

.menu a:hover
{
	background-color: #04a;
	color: #f80;
	color: #fd7;
}


/* ### ### ### */

/* This class container holds a brief description of the webpage - only one per page */
.leadin
{
	width: 950px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	padding: 0;
}

h1
{
	font-size: 32px;
	font-weight: 400;
	color: #fd7;
	margin-bottom: 20px;
	text-align: center;
}

/* This class container holds the main section of the main webpage - only one per page*/
.mainsection
{
	background-color: #334;
}

/* Collection of the main website content elements */
.core
{
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	width: 950px;
	padding-top: 10px;
	padding-bottom: 40px;
	margin-top: 40px;
}

/* Different background to visualy separate entries */
.entry
{
	background-color: #234;
	padding: 10px;
	text-align: justify;
	margin-top: 40px;
}

/* This class gives styl properties for the text of entries description */
.entrytxt
{
	display: inline-block;
	vertical-align: top;
	width: 750px;
	font-size: 15px;
}

/* A small image - or font symbol - to improve visual perception of the content*/
.entryimg
{
	display: inline-block;
	vertical-align: top;
	margin-top: 60px;
	margin-left: 30px;
	width: 110px;
}

/* Second grade header, typicaly used indide the entry class */
h2
{
	font-size: 20px;
	font-weight: 400;
	color: #1df;
}


/* ### ### ### */ 
/* Forms style */ 

/* This ID is specifically applicable to the form shown on the website */
#newCarForm 
{
	text-align: left;
}

/* The form is vertically splitted into rows */
.row
{
	margin: 20px 0 10px;
}

/* Rows can be diveded horizontally into columns */
.col
{
	display: inline-block;
	margin: 0 15px;
	max-width: 300px;
}

/* In some cases the rows are put one beside the other, for better user experience, with the help of this class used together with the .row class */
.float
{
	float: left;
	margin-right: 15px;
}

legend
{
	padding: 10px;
	/* color: #fd7; */
}

/* This class overrights the default background colour (white) for aesthetic and visual consistancy reasons */
.highlight1
{
	background-color: #bbd;
}

/* --- --- --- */
/* Form sent confirmation message */
#confirmation
{
	margin-left: auto;
	margin-right: auto;
	width: 950px;
	text-align: center;
	padding: 0;
}



/* ### ### ### */
/* DOM manipulation */

/* ping-pong */
/* This ID defines the look of the element (the ball). The ID is also used for JavaScript animation */
#pingpong
{
	width: 92px;
  height: 92px;
  border-radius: 50px;
	background: #3ad;
	border: 4px solid #234;
  position: relative;
  /*animation: mymove 1s 0;*/
}

#pingpong:hover
{
	border: 4px solid #3ad;
}

/* these two parameters define the motion of the element */
@keyframes mymove1
{
	from {left: 0px;}
  to {left: 830px;}
}
@keyframes mymove2
{
	from {left: 830px;}
  to {left: 0px;}
}



/* ### ### ### */
/* Data visualisation 1 - data from array */

/* This ID defines the area for data visualisation in 'Data visualisation from array' webpage */
#dataVis1
{
	width: 400px;
	height: 2000px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	margin-bottom: 20px;
	text-align: center;
	padding: 10px;
	border: 1px dotted #bbd;
	background-color: #234;
}

/* Defines properties of all circles within #dataVis1 element*/
#dataVis1 > * > circle
{
	opacity: 0.9;
	stroke: #1df;
	stroke-width: 1px;
}	

#dataVis1 > * > circle:hover
{
	opacity: 1.0;
	stroke: #1df;
	stroke-width: 1px;
}	

/* Characterises all the line elements within #dataVis1 element */
#dataVis1 > * > line
{
	stroke: #fd7;
	stroke-width: 1px;
}	

/* Properties of the text within #dataVis1 */
#dataVis1 > * > text
{
	fill: #eee;
}



/* ### ### ### */
/* Data visualisation 2 - data from csv file */

/* This ID defines the area for data visualisation in 'Data visualisation from csv' webpage */
#dataVis2
{
	height:550px;
	width: 800px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	margin-bottom: 10px;
	text-align: center;
	padding: 10px;
	border: 1px dotted #bbd;
	z-index: 0;
}

/* Styling the chart bars while hovering the cursor over the bars */
#dataVis2 > * > rect:hover
{
	fill: #05a; 
}



/* ### ### ### */
/* Login page; adopted from: https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_login_form_modal */

/* Set a style for all buttons thoroughout the webpages */
button {
	background-color: #05a;
	color: #fd7;
	font-weight: 700;
	padding: 14px 20px;
	margin: 8px 0;
	border: none;
	cursor: pointer;
	border-radius: 0px;
}

button:hover
{
	opacity: 0.8;
}

/* Defines properties (mostly visual) for all buttons of this class */
.submit
{
	background-color: #05a;
	color: #fd7;
	font-weight: 700;
	padding: 14px 20px;
	margin: 8px 0;
	border: none;
	cursor: pointer;
	border-radius: 0px;
	float: left;
}

.submit:hover
{
	opacity: 0.8;
}

/* There is a special button of the bellow ID,  submitting the form 'newCarForm' */
#itakeit
{
	width: 48%;
	min-width: 250px;
	margin-left: 4px;
}

/* The below defines the style of buttons with the .reset class, removing already provided (but not submitted) content in the forms */
.reset
{
	background-color: #a32;
	color: #fd7;
	font-weight: 700;
	padding: 14px 20px;
	margin: 8px 0;
	border: none;
	cursor: pointer;
	border-radius: 0px;
	float: right;
}

/* A special instance of the reset button */
#startover
{
	width: 48%;
	min-width: 250px;
	margin-right: 4px;
}

.reset:hover
{
	opacity: .8;
}



/* ### ### ### */

/* Go to top button; adopted from: https://www.w3schools.com/howto/howto_js_scroll_to_top.asp */
#toTop
{
	display: none;
	position: fixed;
	bottom: 20px;
	right: 30px;
	z-index: 99;
	border: none;
	outline: none;
	color: #f80;
	background-color: #124;
	cursor: pointer;
	padding: 15px;
	border: 2px solid #334;
	border-radius: 4px;
	opacity: .6;
}

#toTop:hover
{
	color: #fd7;
}



/* ### ### ### */
/*Login window, adopted from: https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_login_form_modal

/* --- --- --- */
/* Centre the form */
#loginbox
{
	padding: 16px;
}

.hint
{
	background-color: #234;
	font-size: 12px;
	padding: 5px 18px;
}


/* The Modal (login box) */
.modal
{
	display: block;
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	padding-top: 40px;
}

/* Modal Content/Box */
.modal-content
{
	background-color: #334;
	margin: 100px auto 10px auto; /* 100px from the top, 10px from the bottom and centered */
	border: 2px solid #777;
	width:  50%;   
	max-width: 400px;
	min-width: 200px;
}

/* Full-width input fields */
input[type=text], input[type=email], input[type=password], input[type=address], input[type=tel]
{
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	box-sizing: border-box;
	background-color: #eee;
}

textarea, input[type=date], input[type=time], input[type=number]
{
	background-color: #eee;
}

/* Add Zoom Animation */
.animate {
	animation: animatezoom 0.4s
}

@keyframes animatezoom
{
	from {transform: scale(.5)} 
	to {transform: scale(1)}
}



/* ### ### ###*/

/* Links to other, external websites */
.links
{
	width:950px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	background-color: #334;
	margin-top: 20px;
	padding: 0;
	color: #bbd;
}	

/* Defines style for the boxes in the footer linking to the GMIT website */
.gmit
{
	width: 50%;
	padding: 10px 0;
	float: left;
}	

.gmit:hover
{
	background-color: #5c8bc1;
}	

/* Defines style for the box linking to my GitHub website */
.gh
{
	width: 50%;
	padding: 10px 0;
	float: left;
}	

.gh:hover
{
	background-color: #000;
}	

a.link
{
	color: #eee;
	text-decoration: none;	
	display: block;	
}



/* ### ### ### */

/* Footer: author, copyright, thanks etc */
.info
{
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	padding: 10px;
	color: #bbd;
	font-size: 10px;
	z-index: 0
}	
