
.icon-d3-seeklogo.com:before { content: '\e800'; } /* '' */
.icon-mail:before { content: '\e801'; } /* '' */
.icon-edit:before { content: '\e803'; } /* '' */
.icon-chart-bar-1:before { content: '\e804'; } /* '' */
.icon-github-circled:before { content: '\f09b'; } /* '' */
.icon-mail-alt:before { content: '\f0e0'; } /* '' */
.icon-sliders:before { content: '\f1de'; } /* '' */
.icon-chart-area:before { content: '\f1fe'; } /* '' */